.hero {
    padding: 42px 16px 24px;

    &__contact {
        border-radius: 64px;
        color: $white;
        background-color: $lightBlue;
        padding: 4px 24px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
    }

    &__description {
        text-align: center;
    }

    &__header {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $textDark;
    }

    &__hello {
        display: none;
    }

    &__image {
        width: 96px;
        height: 128px;
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    }

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        color: $lightBlue;
        font-weight: bold;
        text-decoration: none;
    }


    &__paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 22px;
    }

    &__special {
        color: $blue;
    }
}