$text: #425A70;
$textDark:#234361;
$blue: #1070CA;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;
$white: #fff;
$darkGray: #212528;
$darkestGray: #1E1E1E;
$mediumGray: #464A4D;
$lightGray: #808082;
$lightestGray: #A3A3A3;
$linkColor: #14B5D0;